:root {
   --Principal: #2f327d;
   --Outline: #d2d2d2;
   --Grey: #f9f9f9;
   --Text: #646464;
}
.navbar {
   display: flex;
   height: 70px;
   background-color: var(--Principal);
   align-items: center;
   padding: 10px 40px;
   justify-content: space-between;
}
.logobox {
   display: flex;
}
.avater {
   border-radius: 50%;
   width: 50px;
   height: 50px;
   object-fit: cover;
}
.navtext {
   color: var(--Grey);
   font-weight: 700;
   font-size: 20px;
}
/* oneside */
.oneside {
   display: flex;
   flex-direction: column;
   padding: 40px 20px;
   overflow-y: auto;
   height: 100vh;
}
.cp {
   color: var(--Principal);
   font-size: 24px;
}
.pd {
   display: flex;
   justify-content: space-between;
   color: var(--Text);
}
.textwithicon {
   display: flex;
   gap: 2px;
   color: var(--Text);
}
/* '''''''media content' */
.medis {
   border: 1px dashed var(--Text);
   border-radius: 5px;
   width: 100%;
   height: 102px;
   display: flex;
   align-items: center;
   background-color: var(--Grey);
   padding: 5px 10px;
   box-sizing: border-box;
   gap: 5px;
}
.bold {
   font-weight: 800;
}
.contentmedia {
   font-size: 8px;
   text-align: center;
}
/* ''''''''tone of  voice */
.tonep {
   color: var(--Text);
   display: flex;
   justify-content: space-between;
}
.selector {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 10px;
}
.selector p {
   color: var(--Text);
   margin-left: 5px;
}
.selectsocial {
   color: var(--Text);
}
.generate {
   background-color: var(--Principal);
   padding: 5px 0px;
   display: flex;
   justify-content: center;
   color: var(--Outline);
   gap: 8px;
   height: 30px;
   width: 100%;
   align-items: center;
}
.iconadjust {
   display: flex;
   gap: 10px;
}
/* ........third side */
.editoricon {
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 5px 20px;
   background-color:  rgb(246, 243, 243);
   border: 1px solid var(--Outline);
}

.editorspace{
   box-sizing: border-box;
   padding: 20px 30px;
}
.postimage{
   /* object-fit: fill; */
   width: 100%;
   height: inherit;
  object-fit: contain;
}
.threeside{
   padding: 30px 50px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
}
.slideicon{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   margin-top: 20px;
}
.postp{
   color: var(--Principal);
   font-size: 24px; 
}
.slideicon img{
   width: 20px;
   height: 20px;
}
