.body {
   display: flex;
   width: 100%;
}
.one {
   flex: 1;
   border-right: 1px solid #d2d2d2;
   overflow-y: scroll;
}
.two {
   flex: 3;
   border-right: 1px solid #d2d2d2;
   overflow-y: scroll;
}
.three {
   flex: 1;
   overflow-y: scroll;
   background-color:  #f4f4f7;
}
